.ctn{
    width:100%;
    height: 100vh;/* vh = viewport height no hace el 100% del alto lo hace acorde al tamano del alto del screen 
    vh = viewport height
    vw= viewport width
    */
    justify-content: center;
    display: flex;
    text-align: left;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-attachment: fixed;/*para que sea estatico*/
	background-repeat: repeat;/*que no no repeat o  si se repita el fondo*/	

}
.principal{
border: solid black 2px ;
border-radius:5px;
padding: 40px;
min-width: 400px;/* ajustar el tamano minimo*/
background-color: rgba(255, 255, 255, 0.8);/*el rango RGB dice el color y el "a" dice las trasparencia */
}
.bth{
    text-align: center;/* ajustar el texto */
    height: auto;/* ajustar el tamano minimo*/
    width: 100%;
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 10px;
    }
.bth:hover{
    background-color: green;
    transition: 0.5s;

}