body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: yellow;
    width:100vw ;
    
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: rgb(17, 17, 17);
   
}
button{
    color: yellow;
    background-color: rgb(68, 68, 68);
    border-color: yellow;
    padding: 5px 16px;
    gap: 8px;
}
select{
    color: yellow;
    background-color: rgb(68, 68, 68);
    border-color: yellow;
    padding: 5px 16px;
    margin: 10px;

}
p{
color: white;
}
main {
    background-color: black;
}
h2{
    margin-top: 0;
}
nav {
    width: 80%;
    max-width: 300px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
#selector-container{
    display: flex;
    
}
#content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card{
    border:1px solid yellow;
    padding: 10px 20px;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    box-sizing: border-box;
    
}